language: cpp
dist: bionic

sudo: false
cache:
  directories:
    - ~/arduino_ide
    - ~/.arduino15/packages/
git:
  depth: false
  quiet: true
env:
  global:
     - PRETTYNAME="Spare the Air eInk"
     - EXTRA_VERIFY_ARGS="--pref compiler.warning_flags.all='-Wall'"
     - BUILD_TYPE=Debug

addons:
  apt:
    sources:
      - sourceline: 'deb http://apt.llvm.org/bionic/ llvm-toolchain-bionic-9 main'
        key_url: 'https://apt.llvm.org/llvm-snapshot.gpg.key'
    packages:
      - python3
      - python3-pip
      - python3-setuptools
      - python3-wheel
      - cmake

before_install:
   - source <(curl -SLs https://raw.githubusercontent.com/cmumford/travis-ci-arduino/args/install.sh)

install:
   - arduino --install-library "ArduinoUnit"
   - arduino --install-library "TinyXML"
   - arduino --install-library "Adafruit EPD"
   - arduino --install-library "Adafruit GFX Library"
   - echo ${CC}
   - echo ${CXX}
   - ${CXX} --version
   - cmake --version

before_script:
   - mkdir -p sparetheair/unit_tests/build && cd sparetheair/unit_tests/build
   - cmake .. -DCMAKE_BUILD_TYPE=$BUILD_TYPE
   - cmake --build .
   - cd ../../..

script:
   - cd sparetheair/unit_tests/build && ./unit_tests && cd ../../..
   - build_main_platforms
