language: c
sudo: false
cache:
  directories:
    - ~/arduino_ide
    - ~/.arduino15/packages/
git:
  depth: false
  quiet: true
env:
  global:
     - PRETTYNAME="Spare the Air eInk"

addons:
  apt:
    packages:
      - python3
      - python3-pip
      - python3-setuptools

before_install:
   - source <(curl -SLs https://raw.githubusercontent.com/adafruit/travis-ci-arduino/master/install.sh)

install:
   - arduino --install-library "HttpClient"
   - arduino --install-library "TinyXML"
   - arduino --install-library "ArduinoUnit"
   - arduino --install-library "Adafruit_EPD"
   - arduino --install-library "Adafruit_GFX"

script:
   - build_main_platforms

# Generate and deploy documentation
after_success:
  - source <(curl -SLs  https://raw.githubusercontent.com/adafruit/travis-ci-arduino/master/library_check.sh)
  - source <(curl -SLs  https://raw.githubusercontent.com/adafruit/travis-ci-arduino/master/doxy_gen_and_deploy.sh)
